
/* fonts */
$name-font: 'Open Sans', sans-serif;
$content-font: 'Merriweather', serif;

/* size and spacing */
$content-width: 400px;
$name-font-size: 60px;
$contact-font-size: 19px;
$social-font-size: 25px;
$footnote-font-size: 10px;
$spacing: 15px;

/* color */
$name-color: #FFF;
$content-color: rgba(255,255,255,0.8);
$footnote-color: #FFF;

/* mixins */
@mixin remove-link-styles() {
  color: inherit;
  text-decoration: none;
}

@mixin set-background-img($img) {
  background: url($img) no-repeat center center fixed;
  -webkit-background-size: inherit;
  -moz-background-size: inherit;
  -o-background-size: inherit;
  background-size: inherit;
}

/* more normalize */
p, h1, ul, .body, .html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.html, .body {
  overflow: hidden;
}

/* page styles */
.html {
  @include set-background-img('bg.jpg');
  font-family: $content-font;
}

.body {
  text-align: center;
  white-space: nowrap;
}

.body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.centered {
  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline;
}

.list-item {
  list-style: none;
  display: inline;
}

.content {
  width: $content-width;
  color: $content-color;
}

.contact {
  font-size: $contact-font-size;
}

.identity {
  margin: $spacing 0;
}

.name {
  font-family: $name-font;
  font-size: $name-font-size;
  color: $name-color;
  letter-spacing: -3px;
}

.bio {
  white-space: normal;
  margin-bottom: $spacing;
}

.icon-link,
.icon-link:hover,
.icon-link:visited {
  @include remove-link-styles();
  font-size: $social-font-size;
  margin: 0 1px;
}

.footnote {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: $footnote-font-size;
  height: 19px;
  color: $footnote-color;
}