/* fonts */
/* size and spacing */
/* color */
/* mixins */
/* more normalize */
p, h1, ul, .body, .html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.html, .body {
  overflow: hidden; }

/* page styles */
.html {
  background: url("bg.jpg") no-repeat center center fixed;
  -webkit-background-size: inherit;
  -moz-background-size: inherit;
  -o-background-size: inherit;
  background-size: inherit;
  font-family: "Merriweather", serif; }

.body {
  text-align: center;
  white-space: nowrap; }

.body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.centered {
  display: inline-block;
  vertical-align: middle; }

.inline {
  display: inline; }

.list-item {
  list-style: none;
  display: inline; }

.content {
  width: 400px;
  color: rgba(255, 255, 255, 0.8); }

.contact {
  font-size: 19px; }

.identity {
  margin: 15px 0; }

.name {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: #FFF;
  letter-spacing: -3px; }

.bio {
  white-space: normal;
  margin-bottom: 15px; }

.icon-link,
.icon-link:hover,
.icon-link:visited {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
  margin: 0 1px; }

.footnote {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  height: 19px;
  color: #FFF; }

