
/* variables */
$font: 'Open Sans', sans-serif;
$content-color: #FEFEFE;
$content-width: 330px;
$social-link-size: 25px;
$spacing: 15px;
$border-size: 2px;
$border-color: #000;
$footnote-color: #FFF;
$footnote-size: 10px;

/* mixins */
@mixin remove-link-styles() {
  color: inherit;
  text-decoration: none;    
}

@mixin set-background-img($img) {
  background: url($img) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

/* more normalize */
p, h1, ul, .body, .html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.html, .body {
  overflow: hidden;
}

/* page styles */
.html {
  @include set-background-img('bg.jpg');
  font-family: $font;
}

.body {
  text-align: center;
  white-space: nowrap;
}
 
.body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.centered {
  display: inline-block;
  vertical-align: middle;
}

.list-item {
  list-style: none;
  display: inline;
}

.content {
  width: $content-width;
  background-color: $content-color;
  border: $border-size solid $border-color;
}

.identity {
  margin: $spacing 0;
}

.bio {
  white-space: normal;
  margin-bottom: $spacing;
}

.icon-link, 
.icon-link:hover, 
.icon-link:visited {
  @include remove-link-styles();
  font-size: $social-link-size;
  margin: 0 1px;
}

.footnote {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: $footnote-size;
  height: 19px;
  color: $footnote-color;
}