.container {
  display: grid;
  grid-template-columns:
    [first-start] minmax(1em, 1fr) [first-end main-start] minmax(0, 60em)
    [main-end] minmax(1em, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.navbar {
  grid-column: main;
  margin: 1.5rem 0;
}

.content {
  grid-column: main;
}

.footer {
  grid-column: first / span 3;
}
