.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 2rem;
}

.links-list {
  display: flex;
  list-style: none;
}

.link {
  font-size: 1.2rem;
}

.link:not(:first-child) {
  margin-left: 1.5rem;
}

.link:not(:last-child) {
  margin-bottom: initial;
}
