.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linksList {
  display: flex;
  list-style: none;
}

.link {
  font-size: 1.2rem;
}

.link:not(:first-child) {
  margin-left: 0.5rem;
}
