.footer {
  background-color: var(--color-footer-bg);
  padding: 2rem 1rem;
}

.message,
.socials {
  display: flex;
  justify-content: center;
}

.message {
  margin-bottom: 1rem;
}

.socials {
  font-size: 1.8rem;
}

.social-link:not(:last-child) {
  margin-right: 0.7rem;
}
