.other-stuff-item {
  margin-bottom: 2rem;
}

.other-stuff-name {
  margin-bottom: 0.5rem;
}

.other-stuff-description {
  margin-bottom: 1rem;
}

.other-stuff-tool-item {
  margin-right: 0.9rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
